    <%- include('partials/header') %>
            
    <title>Homepage</title>

    <style>

    </style>
</head>

<body>
    
    <div class="container" id="parentdiv">
    
        <%- include('partials/navbar') %>   
        
        <% Posts.forEach(function(post){ %>
       
        <%- include('partials/post',{post:post}) %>   

        <% }) %>

        <br>
        <br>
        <br>

    </div>

</body>

</html>