    <%- include('partials/header') %>
    
    <title>login</title>

    <style>

    </style>
</head>

<body>

    <div class="container">

        <%- include('partials/navbar') %>

        <form action="/authenticateUser" method="post">

            Username:
            <input class="form-control" type="text" name="username"> <br>
            Password:
            <input class="form-control" type="password" name="password"> <br>

            <button type="submit" class="btn btn-primary">Login</button>
            
        </form>
    </div>

</body>

</html>